<!-- footer code  -->
<footer>
    <p>Created by <a href="https://www.linkedin.com/in/trishant-verma-70284a228/"
            style="text-decoration: none; font-weight:bold;" target="_blank">Trishant Verma</a></p>
</footer>